.voyager-settings-tabs {
    display: flex;
    margin-bottom: 20px;
}

.voyager-tab {
    padding: 10px 20px;
    border: none;
    background: none;
    cursor: pointer;
    color: var(--text-muted);
}

.voyager-tab.active {
    color: var(--text-normal);
    border-bottom: 2px solid var(--interactive-accent);
}

.voyager-settings-content {
    display: none;
}

.voyager-settings-content.active {
    display: block;
}

.voyager-whitelist-list {
    list-style-type: none;
    padding: 0;
}

.voyager-whitelist-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.voyager-whitelist-list button {
    padding: 2px 6px;
    background-color: var(--interactive-accent);
    color: var(--text-on-accent);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.clear-button {
	position: absolute;
	right: 5px;
	top: 50%;
	transform: translateY(-50%);
	background: none;
	border: none;
	color: var(--text-muted);
	cursor: pointer;
}

.no-results {
	padding: 10px;
	text-align: center;
	color: var(--text-muted);
}

.suggestion-container {
    max-height: 300px;
    overflow-y: auto;
  }
  
  .suggestion-item {
    padding: 8px 10px;
    border-bottom: 1px solid var(--background-modifier-border);
    transition: background-color 0.2s ease;
    cursor: pointer;
    background-color: transparent; /* Add this line */
  }
  
  .suggestion-item:last-child {
    border-bottom: none;
  }
  
  .suggestion-item:hover {
    background-color: var(--background-modifier-hover);
  }
  
  .no-results {
    padding: 10px;
    text-align: center;
    color: var(--text-muted);
  }
  
  .clear-button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: var(--text-muted);
    cursor: pointer;
    font-size: 18px;
  }
  
  .clear-button:hover {
    color: var(--text-normal);
  }
  
  .suggestion-input {
    width: 100%;
    padding-right: 30px; /* Make room for the clear button */
  }
